@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}

<div class="text-center">
    <h1 class="display-4">Pojišťovací aplikace</h1>
    <div class="p-4 border rounded shadow-sm bg-light">
        Vítejte ve zkušební pojišťovací aplikaci.
        <div>Pokud chcete vyzkoušet admin práva, přihlaště se následujícím účtem:</div>
        <div>email: admin@admin.cz</div>
        <div>heslo: Admin123</div>
        <div>Uživatel s vytvořeným profilem:</div>
        <div>email: danielnovak@gmail.com</div>
        <div>heslo: User1234</div>
        <div>Uživatel bez vytvořeného profilu u pojišťovny, pouze registrován:</div>
        <div>email: user@user.cz</div>
        <div>heslo: User1234</div>
    </div>
</div>
